GOOGLE_CLIENT_ID="Your Google Client ID"
GOOGLE_CLIENT_SECRET="Your Google Client Secret"

NEXTAUTH_URL="http://localhost:3000/api/auth"
NEXT_PUBLIC_APLICATION_URL="http://localhost:3000"

STRIPE_API_KEY="Your Stripe Secret Key"
NEXT_PUBLIC_STRIPE_PUBLIC_KEY="Your Stripe Public Key"

FAUNADB_KEY="Your FaunaDB Key"
